@import 'drop-theme-basic';
@import 'drop-bounce';
@import 'drop-theme-popovers';

.grid-button {
  background-image: url('./grid-button.svg');
  background-size: cover;
  display: block;
  height: 20px;
  width: 20px;

  &:hover {
    background-position: 60px;
  }
}

.grid-menu {
  height: 100%;
  width: 100%;
  display: block;
}

.drop {
  width: 330px;
}

.drop-element.drop-theme-arrows-bounce .drop-content {
  padding: 0;
  line-height: inherit;

  a {
    display: inline-block;
    width: 32%;
    text-decoration: none;
    color: inherit;
  }
}

.drop-inner {
  height: 360px;
  overflow-y: scroll;
  padding: 1rem;

  h3 {
    text-align: center;
    margin: 0 0 10px;
  }
}

.drop-grid-item {
  border: 1px solid transparent;
  margin: 8px 2px;
  padding: .25rem 0;
  text-align: center;

  &:hover {
    border: 1px solid #ddd;
  }
}

.drop-grid-app-title {
  font-size: 12px;
  overflow: hidden;
}

.drop-grid-app-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 64px;
  width: 64px;
}
